@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 80px;
}
.container-grid {
    width: 1300px;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    width: 650px;
    height: 31px;
    display: flex;
    justify-content: space-between;
}

.icone-menu {
    height: 40px;
    color: white;
}

.menu a{
    color: white;
    text-decoration: none;
    font: bolder;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    height: 550px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-primario {
    background-image: url(../img/piloto.jpg);

}

.banner-secundario {
    background-image: url(../img/secundario.jpg);

}

.banner-piloto {
    background-image: url(../img/Group\ 74.png);

}

.conteudo-banner {
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.conteudo-banner h1 {
    text-transform: uppercase;
    font-family: "Titillium Web";
    font-weight: bolder;
    font-size: 80px;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff00;
    width: 90vw;
    height: 100%;
}

.conteudo-banner p {
    text-transform: uppercase;
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: 20px;
}

.marcas {
    height: 86px;
    background-color: black;
}

.icones {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fundo {
    background-color: #202329;
    height: 3200px;
    width: 100%;
}

.titulo-secundario h2 {
    text-transform: uppercase;
    width: 100%;
    color: white;
    font-family: "Titillium Web";
    font-weight: italic;
    font-size: 35px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .container-grid {
        width: 80vw;
    }

}

@media screen and (max-width: 1000px) {
    .container-grid {
        width: 80vw;
    }

    .descricao1 {
        width: 1000px;
    }


    .cabecalho {
        position: relative;
    
    }
    
    .menu {
        position: absolute;
        top: 0px;
        font-family: "Titillium Web";

        width: 200px;
        height: 400px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(22, 21, 21);
        
    }

    .menu-ativo {
        display: flex;
    }

    #barras {
        display: inline;
    }

    .fone p {
        font-size: 12px;
    }
    
    .teclado p {
        font-size: 12px;
    }
    
    .mouse p{
        font-size: 12px;
    }
    
    .mousepad p {
        font-size: 12px;
    }
    
    .monitor p {
        font-size: 12px;
    }

    .mouse {
        height: 120px;
        width: 120px;
    }
}

.descricao1 {
    text-align: center;
    color: white;
    height: 103px;
    width: 65vw;
    font-size: 18px;
    font-family: "Titillium Web";
    background-color: #00000000;
    padding-top: 1vw;

}

.informacao {
    text-transform: uppercase;

}

.pagamento {
    text-align: left;
    color: #00FF19;
    font-size: 15px;

}

.valor1 {
    text-align: left;
    text-transform: uppercase;
    color: #00FF19;
    font-family: "Titillium Web";
    font-size: 22px;
    font-weight: bold;

}

.valor2 {
    text-align: left;
    text-transform: uppercase;
    color: #FF0000;
    font-family: "Titillium Web";
    font-size: 22px;
    font-weight: bold;
    
}

.parcelado {
    text-align: left;
    font-size: 15px;

}

.divisao {
    display: flex;
    justify-content: space-between;

}

.descricao1 div {
    width: 210px;

}

.terceiro-titulo {
    font-style: italic;
    text-transform: uppercase;
    width: 100%;
    height: 150px;
    color: white;
    font-family: "Titillium Web";
    font-size: 16px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 350px;

}

.imagem-games {
    width: 100vw;
    height: 81vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

