@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    height: 80px;
}

.container-grid {
    width: 1300px;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    width: 650px;
    height: 31px;
    display: flex;
    justify-content: space-between;
}

.icone-menu {
    height: 40px;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    font: bolder;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    height: 550px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-primario {
    background-image: url(../img/piloto.jpg);

}

.banner-secundario {
    background-image: url(../img/secundario.jpg);

}

.banner-piloto {
    background-image: url(../img/Group\ 74.png);

}

.conteudo-banner {
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.conteudo-banner h1 {
    text-transform: uppercase;
    font-family: "Titillium Web";
    font-weight: bolder;
    font-size: 80px;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff00;
    width: 90vw;
    height: 100%;
    padding-top: 180px;
}

.conteudo-banner p {
    text-transform: uppercase;
    font-family: "Titillium Web";
    font-weight: bold;
    font-size: 20px;
}

.marcas {
    height: 86px;
    background-color: black;
}

.icones {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fundo {
    background-color: #202329;
    height: 2960px;
    width: 100%;
}

.titulo-secundario h2 {
    text-transform: uppercase;
    width: 100%;
    color: white;
    font-family: "Titillium Web";
    font-weight: italic;
    font-size: 35px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao1 {
    text-align: center;
    color: white;
    height: 450px;
    width: 65vw;
    font-size: 18px;
    font-family: "Titillium Web";
    background-color: #00000000;
    padding-top: 1vw;

}

.informacao {
    text-transform: uppercase;

}

.pagamento {
    text-align: left;
    color: #00FF19;
    font-size: 15px;

}

.valor1 {
    text-align: left;
    text-transform: uppercase;
    color: #00FF19;
    font-family: "Titillium Web";
    font-size: 22px;
    font-weight: bold;

}

.valor2 {
    text-align: left;
    text-transform: uppercase;
    color: #FF0000;
    font-family: "Titillium Web";
    font-size: 22px;
    font-weight: bold;

}

.parcelado {
    text-align: left;
    font-size: 15px;

}

.divisao {
    display: flex;
    justify-content: space-between;

}

.descricao1 div {
    width: 210px;

}

.terceiro-titulo {
    font-style: italic;
    text-transform: uppercase;
    width: 100%;
    height: 25px;
    color: white;
    font-family: "Titillium Web";
    font-size: 16px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imagem-games {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.placa-de-video {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-weight: italic;
    text-transform: uppercase;
    font-family: "Titillium Web";
    color: #00A510;
    font-size: 20px;

}

.descricao-placas {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    height: 450px;
    width: auto;
    font-size: 18px;
    font-family: "Titillium Web";
    background-color: #00000000;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;

}

.primeira-placa {
    width: 210px;
}

.segunda-placa {
    width: 210px;
}

.terceira-placa {
    width: 210px;
}

.banner-placa-de-video {
    display: flex;
    justify-content: center;
    width: auto;
    height: 420px;
    padding-top: 20px;
}

.banner-2-placa-de-video {
    display: flex;
    justify-content: center;
    width: auto;
    height: 160px;
    padding-top: 40px;
}

.newslatter {
    align-items: center;
    font-style: italic;
    text-transform: uppercase;
    width: 100%;
    height: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 70px;

}

.assine {
    width: 400px;
    font-size: 26px;
    text-align: center;
    font-family: "Titillium Web";
    line-height: 1;
}

.links-rapidos {
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 16%;
    padding-right: 16%;
    font-family: "Titillium Web";

}

.departamentos {
    width: 260px;
    height: 370px;
    font-size: 13px;
    font-weight: lighter;

}

.institucional-duvidas {
    width: 260px;
    height: 370px;
    font-size: 13px;
    font-weight: lighter;

}

.container-duvidas {
    width: 260px;
    height: 170px;
    font-size: 13px;
    font-weight: lighter;
    padding-top: 60px;
}

.atendimento {
    width: 260px;
    height: 370px;
    font-size: 13px;
    font-weight: lighter;
}

.contate-nos {
    width: 190px;
    height: 370px;
    font-size: 13px;
    font-weight: lighter;
}

.primeiro-grid {
    width: 270px;

}

.grid-redes {
    width: 190px;
    padding-top: 6px;
}

.grid-certificados {
    padding-top: 5px;
}

.titulo1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;

}

.titulo2 {
    font-size: 14px;
}

.container-rodape {
    display: flex;
    Justify-content: center;

}

.rodape {
    width: 1300px;
    text-align: center;
    font-size: 13px;
    height: 50px;
    padding-top: 8px;
    font-weight: bolder;
    font-family: "Titillium Web";

}

/*Setor do código reservado para responsividade
Largura máxima tablet= 768px
Largura máxima smartphone= 320px*/

@media screen and (max-width: 1800px) {
    
    .assine {
        font-size: 20px;
    }

    .seu-nome {
        width: 180px;
    }

    .seu-email {
        width: 250px;
    }

    .inscreva {
        width: 140px;
    }

    .links-rapidos {
        height: 450px;
    }

    .fundo {
        height: 2900px;
    }
}

@media screen and (max-width: 1700px) {
    .assine {
        font-size: 18px;
    }

    .seu-nome {
        width: 160px;
    }

    .seu-email {
        width: 220px;
    }

    .inscreva {
        width: 120px;
    }

    .fundo {
        height: 2880px;
    }

}

@media screen and (max-width: 1600px) {
    .icones {
        padding-left: 2%;
        padding-right: 2%;
    }

    .imagem-games {
        height: 680px;
    }

    .jogos-top {
        width: 1200px;
    }

    .banner1 {
        width: 1180px;
    }

    .banner2 {
        width: 870px;
    }

    .links-rapidos {
        height: 400px;
    }

    .fundo {
        height: 2800px;
    }
}

@media screen and (max-width: 1450px) {
    .banner {
        height: 500px;
    }

    .conteudo-banner h1 {
        text-transform: uppercase;
        font-family: "Titillium Web";
        font-weight: bolder;
        font-size: 70px;
    }

    .conteudo-banner p {
        text-transform: uppercase;
        font-family: "Titillium Web";
        font-weight: bold;
        font-size: 18px;
    }

    .titulo {
        padding-top: 170px;
        padding-left: 280px;
    }

    .icones {
        padding-left: 6%;
        padding-right: 6%;
    }

    .titulo-secundario h2 {
        font-size: 32px;
    }

    .descricao1 {
        width: max-content;
        height: 400px;
    }

    .descricao1 div {
        width: 180px;
        height: 350px;
    }

    .img-fone {
        width: 140px;

    }

    .img-teclado {
        width: 140px;
    }

    .img-mouse {
        width: 140px;
    }

    .img-mousepad {
        width: 140px;
    }

    .img-monitor {
        width: 140px;
    }

    .informacao {
        font-size: 17px;
        height: 120px;
    }

    .pagamento {
        font-size: 14px;
    }

    .valor1 {
        font-size: 20px;
    }

    .linha {
        height: max-content;
    }

    .valor2 {
        font-size: 20px;
    }

    .parcelado {
        font-size: 14px;
    }

    .imagem-games {
        width: max-content;
        height: 650px;
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .jogos-top {
        width: 1160px;

    }

    .descricao-placas div {
        width: 180px;
    }

    .placa1 {
        width: 140px;

    }

    .placa2 {
        width: 140px;
    }

    .placa3 {
        width: 140px;
    }

    .banner1 {
        width: 1080px;
    }

    .banner2 {
        width: 820px;
    }

    .fundo {
        height: 2750px;
    }
}

@media screen and (max-width: 1400px) {
    .imagem-games {
        width: 100%;
    }

    .assine {
        width: 380px;
    }

    .seu-nome {
        width: 140px;
    }

    .seu-email {
        width: 200px;
    }

    .inscreva {
        width: 110px;
    }
}

@media screen and (max-width: 1300px) {
    .cabecalho {
        width: 1200px;
    }
    
    .icones {
        width: 1200px;
    }

    .jogos-top {
        width: 1100px;
    }

    .descricao-placas {
        height: 400px;
    }

    .assine {
        width: 365px;
    }

    .seu-nome {
        width: 120px;
    }

    .seu-email {
        width: 180px;
    }

    .inscreva {
        width: 100px;
    }

    .fundo {
        height: 2680px;
    }
}

@media  screen and (max-width: 1200px) {
    .cabecalho {
        width: 1100px;
    }

    .menu {
        width: 550px;
    }

    .icones {
        width: 1100px;
    }

    .titulo {
        padding-right: 0px;
        padding-top: 220px;
    }

    .jogos-top {
        width: 1020px;
    }

    .imagem-games {
        height: 600px;
    }

    .titulo-placas {
        font-size: 28px;
    }

    .banner1 {
        width: 990px;
    }

    .banner-placa-de-video {
        height: 360px;
    }

    .banner-2-placa-de-video {
        padding-top: 5px;
    }

    .newslatter {
        padding-top: 35px;
    }

    .assine {
        width: 340px;
    }

    .seu-nome {
        width: 110px;
    }

    .seu-email {
        width: 160px;
    }

    .inscreva {
        width: 92px;
    }

    .links-rapidos {
        padding-top: 65px;
    }

    .fundo {
        height: 2500px;
    }
}

@media screen and (max-width: 1150px) {
    .institucional-duvidas {
        width: 230px;
    }
}

@media screen and (max-width: 1100px) {
    .cabecalho {
        width: 1000px;
    }   

    .menu {
        width: 480px;
    }

    .icones {
        width: 1000px;
    }

    .img1 {
        width: 125px;
    }

    .img2 {
        width: 70px;
    }

    .img3 {
        width: 140px;
    }

    .img4 {
        width: 48px;
    }

    .img5 {
        width: 140px;
    }

    .img6 {
        width: 45px;
    }

    .img7 {
        width: 140px;
    }
    
    .titulo-secundario h2 {
        font-size: 28px;
    }

    .descricao1 {
        width: max-content;
        height: 370px;
    }

    .descricao1 div {
        width: 170px;
        height: 330px;
    }

    .img-fone {
        width: 125px;
    }

    .img-teclado {
        width: 125px;
    }

    .img-mouse {
        width: 125px;
    }

    .img-mousepad {
        width: 125px;
    }

    .img-monitor {
        width: 125px;
    }

    .informacao {
        font-size: 14px;
        height: 120px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .pagamento {
        font-size: 12px;
    }

    .valor1 {
        font-size: 17px;
    }

    .linha {
        height: max-content;
    }

    .valor2 {
        font-size: 17px;
    }

    .parcelado {
        font-size: 12px;
    }

    .imagem-games {
        height: 560px;
    }

    .jogos-top {
        width: 950px;
    }

    .titulo-placas {
        font-size: 26px;
    }

    .banner1 {
        width: 900px;
    }

    .banner2 {
        width: 780px;
    }

    .assine {
        width: 310px;
        font-size: 16px;
    }

    .titulo1 {
        font-size: 18px;
    }

    .titulo2 {
        font-size: 12.5px;
    }

    .departamentos {
        font-size: 11.5px;
    }

    .institucional-duvidas {
        font-size: 11.5px;
    }

    .container-duvidas {
        font-size: 11.5px;
    }

    .atendimento {
        font-size: 11.5px;
    }

    .contate-nos {
        font-size: 11.5px;
    }
    
    .img-rodape1 {
        width: 105px;
    }

    .img-rodape2 {
        width: 130px;
    }

    .img-rodape3 {
        width: 115px;
    }

    .img-rodape4 {
        width: 125px;
    }

    .img-rodape5 {
        width: 130px;
    }

    .grid-certificados {
        height: 100px;
        padding-top: 15px;
    }

    .img-certificados {
        width: 150px;
    }

    .fundo {
        height: 2400px;
    }
    
}

@media screen and (max-width: 1050px) {

    .seu-nome {
        width: 105px;
    }

    .seu-email {
        width: 150px;
    }

    .inscreva {
        width: 88px;
    }

    .grid-certificados {
        height: 120px;
        padding-top: 30px;
    }

    .institucional-duvidas {
        width: 200px;
    }
}

@media screen and (max-width: 1000px) {


}

@media screen and (max-width: 768px) {

    .cabecalho {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu a {
        font-size: 17px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner {
        height: 370px;
    }

    .conteudo-banner h1 {
        text-transform: uppercase;
        font-family: "Titillium Web";
        font-weight: bolder;
        font-size: 60px;
    }

    .conteudo-banner p {
        text-transform: uppercase;
        font-family: "Titillium Web";
        font-weight: bold;
        font-size: 16px;
    }

    .titulo {
        padding-top: 130px;
        padding-left: 280px;
    }

    .icones {
        width: 768px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .img1 {
        width: 86px;
    }

    .img2 {
        width: 62px;
    }

    .img3 {
        width: 100px;
    }

    .img4 {
        width: 53px;
    }

    .img5 {
        width: 95px;
    }

    .img6 {
        width: 53px;
    }

    .img7 {
        width: 94px;
    }

    .titulo-secundario h2 {
        font-size: 26px;
    }

    .descricao1 {
        width: max-content;
        height: 350px;
    }

    .descricao1 div {
        width: 130px;
        height: 350px;
    }

    .img-fone {
        width: 110px;

    }

    .img-teclado {
        width: 110px;
    }

    .img-mouse {
        width: 110px;
    }

    .img-mousepad {
        width: 110px;
    }

    .img-monitor {
        width: 110px;
    }

    .informacao {
        font-size: 13px;
        height: 120px;
    }

    .pagamento {
        font-size: 12px;
    }

    .valor1 {
        font-size: 17px;
    }

    .linha {
        height: max-content;
    }

    .valor2 {
        font-size: 17px;
    }

    .parcelado {
        font-size: 12px;
    }

    .imagem-games {
        width: max-content;
        height: 400px;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .jogos-top {
        width: 708px;

    }
}

@media screen and (max-width: 320px) {}